.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.App-header {
  background-color: #282c34;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.title {
  font-size: 2.5rem;
  color: #61dafb;
  margin-bottom: 30px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.input-box {
  width: 100%;
  max-width: 500px;
  height: 60px; /* Increased height for text input */
  padding: 15px; /* Increased padding for better text spacing */
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown {
  width: 100%;
  max-width: 500px;
  height: 50px; /* Height consistent with text input */
  padding: 5px;
  font-size: 1.1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.submit-button {
  background-color: #61dafb;
  color: white;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #21a1f1;
}

.file-input {
  width: 100%;
  max-width: 500px;
  height: 50px; /* Set height for file input to match text input */
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  cursor: pointer;
}

.upload-button {
  background-color: #61dafb;
  color: white;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.upload-button:hover {
  background-color: #21a1f1;
}

.error-message {
  color: red;
  font-size: 1rem;
  margin-top: 10px;
}
